<?xml version="1.0" encoding="UTF-8"?>
<NamedCredential xmlns="http://soap.sforce.com/2006/04/metadata">
    <label>Spring Boot Form</label>
    <namedCredentialType>SecuredEndpoint</namedCredentialType>
    <!-- Replace with your real Spring Boot host. -->
    <calloutUrl>https://springboot.suplo.my.id</calloutUrl>
    <allowMergeFieldsInBody>false</allowMergeFieldsInBody>
    <allowMergeFieldsInHeader>true</allowMergeFieldsInHeader>
    <generateAuthorizationHeader>true</generateAuthorizationHeader>
    <externalCredential>springboot_Form_Cred</externalCredential>
    <namedCredentialParameters>
        <parameterName>X-API-Key</parameterName>
        <parameterType>HttpHeader</parameterType>
        <certificate xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <parameterValue>{!$Credential.springboot_Form_Cred.ApiKey}</parameterValue>
    </namedCredentialParameters>
</NamedCredential>
