<?xml version="1.0" encoding="UTF-8"?>
<ExternalCredential xmlns="http://soap.sforce.com/2006/04/metadata">
    <authenticationProtocol>Custom</authenticationProtocol>
    <label>Spring Boot Form Credential</label>
    <externalCredentialParameters>
        <parameterName>NamedPrincipal</parameterName>
        <parameterType>NamedPrincipal</parameterType>
        <sequenceNumber>1</sequenceNumber>
    </externalCredentialParameters>
    <externalCredentialParameters>
        <parameterName>ApiKey</parameterName>
        <parameterType>AuthParameter</parameterType>
        <sequenceNumber>2</sequenceNumber>
    </externalCredentialParameters>
</ExternalCredential>
